import React from 'react';
import './{{pascalCase name}}.scss';
import type { {{pascalCase name}}Props } from './{{pascalCase name}}.types';

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
    return (
    <div className="{{camelCase name}}">
        <h2>{{pascalCase name}} Component</h2>
    </div>
    );
};
